TTimerWidget QLabel {
    font-family: inconsolata;
    font-weight: 800;
    font-size: 32px;
    margin-left: 20px;
    margin-right: 20px;
}

THomeScrollArea {
    border: none;
}

THomeTableView {
    font: quicksand;
    font-size: 28px;
}
