TMainControlsWidget {
    border: 3px solid black;
}

TTimerWidget {
    color: red;
    background-color: red;
}

QLabel {
    background-color: red;
}

THeaderView {
}

THeaderView::section::last {
}

TTableView {
}

TTableView::item::hover {

}
